.recommendation-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.recommendation-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendation-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}
